<div class="menu__list">
  <h1>Список объектов</h1>
  <h2>Выбранный объект: {{ mapService.selectedItem | number }}</h2>
  <div class="sidebar__menu">
    <ul class="menu__list">
      <li *ngFor="let obj of objects">
        <div class="menu-link--accent menu-link">
          <a
            (click)="mapService.getTaskId(obj.id)"
            [class.menu-link--active]="mapService.selectedItem === obj.id"
            class="menu-link__link"
            >{{ obj.id }}) {{ obj.title }}</a
          >
        </div>
      </li>
    </ul>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <h3>Введите координаты:</h3>
    <input
      formControlName="title"
      type="text"
      placeholder="Название объекта"
      maxlength="20"
    />
    <label
      >Долгота: <input formControlName="latitude" type="number" step="0.01"
    /></label>
    <label
      >Широта: <input formControlName="longitude" type="number" step="0.01"
    /></label>
    <button [disabled]="form.invalid" type="submit" class="submit">
      Добавить
    </button>
  </form>
</div>
