<div class="menu__list">
  <h1>Список объектов:</h1>
  <h2>Выбранный объект: {{ mapService.selectedItem | number }}</h2>
  <button (click)="mapService.addObject()" class="button-add">Добавить</button>
  <div class="sidebar__menu">
    <ul class="menu__list">
      <li *ngFor="let obj of objects">
        <div class="menu-link--accent menu-link">
          <a
            (click)="mapService.getTaskId(obj.id)"
            [class.menu-link--active]="mapService.selectedItem === obj.id"
            class="menu-link__link"
            >{{ obj.id }}) {{ obj.title }}</a
          >
        </div>
      </li>
    </ul>
  </div>
</div>
